In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [2]:
data = pd.read_csv("full_grouped.csv")
data.rename(columns={'New cases':'New_cases'},inplace=True)
data.rename(columns={'New deaths':'New_deaths'},inplace=True)
data.rename(columns={'New recovered':'New_recovered'},inplace=True)

data_df = pd.DataFrame()
data_df['Confirmé'] = data.loc[data['Country/Region']=='Spain'].New_cases
data_df['Guerri'] = data.loc[data['Country/Region']=='Spain'].Recovered
data_df['mor'] = data.loc[data['Country/Region']=='Spain'].Deaths

In [3]:
data_df

       Confirmé  Guerri    mor
157           0       0      0
344           0       0      0
531           0       0      0
718           0       0      0
905           0       0      0
...         ...     ...    ...
27833       585  150376  27136
28020       307  150376  28315
28207       363  150376  28322
28394       334  150376  28323
28581       232  150376  28324

[153 rows x 3 columns]